{% extends 'base.html' %}

{% block left_menu %}
<div class="ui container">
    <a href="javascript:history.go(-1)" class="header item">
        <i class="left arrow icon"></i>
    </a>
</div>
{% endblock %}

{% block header %}
<div class="ui text container">
    <h1 class="ui inverted header">
        {% block form_header %}{% endblock %}
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="ui text container">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="ui divider"></div>

    <form class="ui form middle aligned" {% block form_attrs %}{% endblock %}>
        {% csrf_token %}
        {% if form %}
            <div class="required field">
                <label>Project Name</label>
                {{form.name}}
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Hackathon</label>
                    {{ form.hackathon }}
                </div>
                <div class="required field">
                    <label>Author</label>
                    {{ form.author }}
                </div>
            </div>
            <div class="required field">
                <label>Description</label>
                {{ form.description }}
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Min. people</label>
                    {{ form.min_participants }}
                </div>
                <div class="required field">
                    <label>Max. people</label>
                    {{ form.max_participants }}
                </div>
            </div>
            <div class="field">
                <label>Skills required</label>
                {{ form.skills }}
            </div>
            <div class="field">
                <label>Tags</label>
                {{ form.tags }}
            </div>
            <button class="ui button" type="submit">Submit</button>
        {% else %}
        Error loading form.
        {% endif %}
    </form>

</div>
{% endblock %}
