{% extends 'base.html' %}

{% block left_menu %}
  <div class="ui simple dropdown item">
    Browse Hackathons
    <i class="dropdown icon"></i>
    <div class="menu">
        {% for hackathon in hackathons %}
        <a href="{% url 'projects:index' hackathon.number %}" class="item" > Hackathon #{{ hackathon.number }} </a>
        {% endfor %}
    </div>
  </div>
{% endblock %}


{% block header %}
<div class="ui text container">
    <h1 class="ui inverted header">
        {% if hackathon %}
            Hackathon #{{ hackathon }}
        {% else %}
            Hackathon <i class="coffee icon"></i>
        {% endif %}
    </h1>
    <h2>View, join or create projects for the next Hackathon.</h2>
    <a class="ui huge primary button" href="{% url 'projects:add_project' %}">Create&nbsp;<i class="plus icon"></i></a>
    <a class="ui huge primary button">Join&nbsp;<i class="right arrow icon"></i></a>
</div>
{% endblock %}

{% block content %}
<div class="ui center aligned grid">
    <div class="left aligned twelve wide column">
        <div class="ui vertical stripe segment">

            <h2 class="ui header">Projects</h2>

            {% if projects %}

                <div class="ui three doubling stackable cards">
                {% for project in projects %}
                    <div class="ui fluid card">
                        <div class="content">
                            <a class="header" href="{% url 'projects:project' project.id %}">
                                {{ project.name }}
                            </a>
                            <div class="meta">
                                {{ project.min_participants }} - {{ project.max_participants }} people,
                                {{ project.participants_count }} signed up
                            </div class="meta">
                            <div class="description">
                                {{ project.description|truncatechars:240 }}
                            </div>
                        </div>
                            <div class="ui two bottom attached buttons">
                                <a class="ui button" href="{% url 'projects:project' project.id %}">View</a>
                                <div class="ui primary button">Join</div>
                            </div>
                    </div>
                {% endfor %}
                </div>

            {% else %}
                <p>This hackathon has no projects!</p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
