{% extends "base.html" %}
{% block title %}
    {{ project.name }}
{% endblock title %}

{% block left_menu %}
<div class="ui container">
    <a href="javascript:history.go(-1)" class="header item">
        <i class="left arrow icon"></i>
    </a>
</div>
{% endblock %}

{% block header %}
<div class="ui text container">
    <h1 class="ui inverted header">
        <i class="cubes icon"></i>&nbsp;Project
    </h1>
    <h2>{{project}}</h2>
    <h3>Author: {{ project.author }}</h3>
    <a class="ui secondary button" href="{% url 'projects:edit_project' project.id %}">Edit&nbsp;&nbsp;&nbsp;<i class="edit icon"></i></a>
    {% if project.spaces_left %}
        <div class="ui primary button">Join<i class="right arrow icon"></i></div>
    {% endif %}
    {% if project.spaces_left == False %}
        <div class="ui bottom left attached teal label">Project Full</div>
    {% endif %}
    {% if project.hackathon %}
        <div class="ui bottom right attached teal label">{{ project.hackathon }}</div>
    {% else %}
        <div class="ui bottom right attached red label">No Hackathon Assigned</div>
    {% endif %}
</div>
{% endblock %}
{% block content %}
<div class="ui text container">
    <div class="ui vertical stripe segment">
        <h3 class="ui horizontal divider header">
            <!--<i class="paint brush icon"></i>--> 
        </h3>
        <h3 class="ui horizontal divider header">
            <i class="user icon"></i> Participants
        </h3>
        <div class="ui basic center aligned segment">
            {% if project.participants %}
                {% for participant in project.participants_as_list %}
                    <a class="ui label">{{ participant }}</a>
                {% endfor %}
            {% else %}
                <a class="ui label"><i class="warning icon"></i> No participants</a>
            {% endif %}
        </div>
        <h3 class="ui horizontal divider header">
            <i class="book icon"></i> Description
        </h3>
        <div class="ui basic segment">
            {{ project.description }}
        </div>
    <h3 class="ui horizontal divider header">
        <i class="certificate icon"></i>Skills
    </h3>
    {% if project.skills %}
    <div class="ui basic segment">
        <div class="ui list">
            {% for skill in project.skills_list %}
                <div class="item"><i class="right triangle icon"></i>{{ skill.strip }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="ui basic center aligned segment">
        {% if project.tags %}
        <i class="tags icon"></i>
            {% for tag in project.tag_list %}
                <a class="ui label">{{ tag }}<i class="delete icon"></i></a>
            {% endfor %}
        {% endif %}
    <table>
    </div>
</div>
{% endblock content %}
