{% extends 'base.html' %}

{% block left_menu %}
<div class="ui container">
    <a href="javascript:history.go(-1)" class="header item">
        <i class="left arrow icon"></i>
    </a>
</div>
{% endblock %}

{% block header %}
<div class="ui text container">
    <h1 class="ui inverted header">
        {% block form_header %}{% endblock %}
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="ui text container">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="ui divider"></div>

    <form class="ui form middle aligned" {% block form_attrs %}{% endblock %}>
        {% csrf_token %}
        {% if form %}
            {% block form_fields %}{% endblock %}
        {% else %}
        Error loading form.
        {% endif %}
    </form>

</div>
{% endblock %}
