{% extends "auth/base.html" %}

{% block title %}Sign up for hackathon{% endblock %}

{% block subheader %}<h2>Sign up</h2>{% endblock %}

{% block content %}
<div class="ui center aligned grid">
    <div class="center aligned four wide column">
        <div class="ui hidden divider"></div>
        <div class="ui raised segment">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <p> {{ error|escape }} 
                {% endfor %}
            {% endfor %}
        {% endif %}
            <div class="ui form">
            <form method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label>{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label>{{ form.email.label_tag }}</label>
                {{ form.email }} 
            </div>
            <div class="field">
                <label>{{ form.password1.label_tag }}</label>
                {{ form.password1 }} 
            </div>
            <div class="field">
                <label>{{ form.password2.label_tag }}</label>
                {{ form.password2 }} 
            </div>
            <input class="ui submit button" type="submit" value="Sign up" />
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


